RPC_URL=https://api.mainnet-beta.solana.com
DATABASE_URL=postgres://user:password@host:5432/database
LOG_LEVEL=info
BLOCK_CRAWLER_START_SLOT=<SLOT>
BLOCK_CRAWLER_END_SLOT=<SLOT>
BLOCK_CRAWLER_MAX_CONCURRENT_REQUESTS=1
BLOCK_CRAWLER_CHANNEL_BUFFER_SIZE=10