[workspace]
members = ["crates/*", "datasources/*", "decoders/*", "metrics/*", "examples/*"]
resolver = "2"

[workspace.dependencies]
carbon-core = { path = "crates/core", version = "0.3.0" }
carbon-macros = { path = "crates/macros", version = "0.3.0" }
carbon-proc-macros = { path = "crates/proc-macros", version = "0.3.0" }
carbon-cli = { path = "crates/cli", version = "0.3.0" }

carbon-rpc-program-subscribe-datasource = { path = "datasources/rpc-program-subscribe-datasource", version = "0.3.0" }
carbon-rpc-block-subscribe-datasource = { path = "datasources/rpc-block-subscribe-datasource", version = "0.3.0" }
carbon-helius-atlas-ws-datasource = { path = "datasources/helius-atlas-ws-datasource", version = "0.3.0" }
carbon-rpc-transaction-crawler-datasource = { path = "datasources/rpc-transaction-crawler-datasource", version = "0.3.0" }
carbon-yellowstone-grpc-datasource = { path = "datasources/yellowstone-grpc-datasource", version = "0.3.0" }

carbon-log-metrics = { path = "metrics/log-metrics", version = "0.3.0" }
carbon-prometheus-metrics = { path = "metrics/prometheus-metrics", version = "0.3.0" }

carbon-jupiter-dca-decoder = { path = "decoders/jupiter-dca-decoder", version = "0.3.0" }
carbon-jupiter-limit-order-2-decoder = { path = "decoders/jupiter-limit-order-2-decoder", version = "0.3.0" }
carbon-jupiter-limit-order-decoder = { path = "decoders/jupiter-limit-order-decoder", version = "0.3.0" }
carbon-jupiter-swap-decoder = { path = "decoders/jupiter-swap-decoder", version = "0.3.0" }
carbon-meteora-dlmm-decoder = { path = "decoders/meteora-dlmm-decoder", version = "0.3.0" }
carbon-mpl-core-decoder = { path = "decoders/mpl-core-decoder", version = "0.3.0" }
carbon-mpl-token-metadata-decoder = { path = "decoders/mpl-token-metadata-decoder", version = "0.3.0" }
carbon-orca-whirlpool-decoder = { path = "decoders/orca-whirlpool-decoder", version = "0.3.0" }
carbon-pumpfun-decoder = { path = "decoders/pumpfun-decoder", version = "0.3.0" }
carbon-raydium-amm-v4-decoder = { path = "decoders/raydium-amm-v4-decoder", version = "0.3.0" }
carbon-system-program-decoder = { path = "decoders/system-program-decoder", version = "0.3.0" }
carbon-token-program-decoder = { path = "decoders/token-program-decoder", version = "0.3.0" }
carbon-memo-program-decoder = { path = "decoders/memo-program-decoder", version = "0.3.0" }
carbon-kamino-lending-decoder = { path = "decoders/kamino-lending-decoder", version = "0.3.0" }
carbon-kamino-vault-decoder = { path = "decoders/kamino-vault-decoder", version = "0.3.0" }

solana-sdk = "2.0.10"
solana-transaction-status = "2.0.10"
solana-client = "2.0.10"
solana-account-decoder = "2.0.10"

helius = { version = "0.2.2", git = "https://github.com/helius-labs/helius-rust-sdk.git" }

[patch.crates-io.curve25519-dalek]
git = "https://github.com/anza-xyz/curve25519-dalek.git"
rev = "b500cdc2a920cd5bff9e2dd974d7b97349d61464"
